.company-layout{

display:flex;

min-height:100vh;

background:#f5f7fb;

}

.company-content{

flex:1;

padding:35px;

overflow:auto;

}

.company-layout{

display:flex;

min-height:100vh;

background:#f5f7fb;

margin-top:75px;

}