.history-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:white;

    padding:20px;

    margin-bottom:15px;

    border-radius:12px;

    box-shadow:0 3px 10px rgba(0,0,0,.08);

}

.history-card button{

    background:#2563eb;

    color:white;

    border:none;

    padding:10px 18px;

    border-radius:8px;

    cursor:pointer;

}